@page
@model MoviesModel
@{
    ViewData["Title"] = "Movies";
}

<a class="adminLinks" asp-page="../Index">Back to dashboard</a>
<div class="text-center">
    <h3 class="display-4">@ViewData["Title"]</h3><br>
    <a class="adminLinks" asp-page="../../Admin/Movies/MovieAdd">Add Movie</a>
</div>
<br>
<div class="container">
    <div class="row">
        <div class="col-12">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Title</th>
                        <th scope="col">Genre</th>
                        <th scope="col">DurationMin</th>
                        <th scope="col">Trailer URL</th>
                        <th scope="col">Rating</th>
                        <th scope="col">Image</th>
                        <th scope="col">Link</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var movie in Model.MovieList)
                    {
                        <tr>
                            <td>@movie.Id</td>
                            <td>@movie.Title</td>
                            <td>@movie.Genre</td>
                            <td>@movie.DurationMin</td>
                            <td><a class="adminLinks" href="@movie.TrailerURL" target="__blank">@movie.TrailerURL</a></td>
                            <td>@movie.RatingAvg</td>
                            <td><img src=@ViewData["Image"+movie.Id.ToString()] height="50px" width="40px"/></td>
                            <td><a class="adminLinks" asp-page="../../Admin/Movies/MovieEdit" asp-route-id="@movie.Id">Edit |</a>
                                            <a class="adminLinks" asp-page="../../Admin/Movies/MovieDelete" asp-route-id="@movie.Id"> Delete</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
