@page "{id:int}"
@model MoonriseMovies.Pages.ReviewViewModel
@{
    ViewData["Title"] = "Review View";
}

<asp:ScriptManager ID="asm" runat="server" /> <!--runat calls the server and can communicate with our backend and control the elements value and then some-->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
<div class="main">
    <div class="container">
        <br>
        <div class="row">
            <div class="col-8">
                <h1>Reviews for <i>@Model.movie.Title.</i></h1><br>
                <h4>This could be your chance to let us know how you feel.<br>Slide to rate and leave us a comment below.</h4>
                <br><br>
                <div class="row">
                    <div class="col-md-4">
                        <form method="post">
                            <div class="form-group">
                                <p>Slide to Rate!</p>
                                    <input asp-for="Rating" id="inputRatings" oninput="showStars()" type="range" min="1" max="5">
                                    <span asp-validation-for="Rating" style="color:red; font-size:14px;"></span><br>
                                    <span id="stararea"></span>
                            </div>
                            <br>
                            <div class="form-group">
                                <label asp-for="Comment" class="form-label"></label>
                                <textarea asp-for="Comment" class="form-control bg-dark text-light"></textarea>
                                <span asp-validation-for="Comment" style="color:red; font-size:14px;"></span>
                            </div>
                            <br>

                            <div class="form-group">
                                <input type="submit" value="Add Review" class="btn btn-secondary" /><br><br>
                                
                            </div>
                        </form>
                    </div>
                </div>
                <br><br>
                @if(Model.reviewList.Count == 0){
                    <h4>No reviews yet! Purchase a ticket and be the first to leave a comment!</h4>
                }
                @*Here will be list of all comments*@
                @foreach (var r in Model.reviewList)
                {
                    <span style="color:orange">Commented on @r.CreatedAt.Date.Day/@r.CreatedAt.Date.Month/@r.CreatedAt.Date.Year at @r.CreatedAt.Hour:@r.CreatedAt.Minute by <b><i>@r.Client.UserName</i></b></span><br>
                    <span>
                        @if (!@r.Rating.Equals(null))
                        {
                            int fullStars = @r.Rating;
                            int emptyStars = 5 - fullStars;
                            if (fullStars == 0)
                            {
                                <i class="bi bi-star"></i>
                                <i class="bi bi-star"></i>
                                <i class="bi bi-star"></i>
                                <i class="bi bi-star"></i>
                                <i class="bi bi-star"></i>
                            }
                            else
                            {
                                for (int i = 0; i < fullStars; i++)
                                {
                                    <i class="bi bi-star-fill"></i>
                                }
                                for (int j = 0; j < emptyStars; j++)
                                {
                                    <i class="bi bi-star"></i>
                                }
                            }
                        }
                    </span>
                    <br><br>
                    @r.Comment;
                    <hr>
                }
            </div>
            <div class="col-4">
                <br>
                <img src=@ViewData["Image"+Model.movie.Id.ToString()] class="img-fluid rounded-start" alt="...">
                <p>Title: @Model.movie.Title<br>Genre: @Model.movie.Genre<br>Duration: @Model.movie.DurationMin min<br>
                    <!--Call method for ratings-->
                    <span>
                        @if (!Model.movie.RatingAvg.Equals(null))
                        {
                            int fullStars = Decimal.ToInt32(Model.movie.RatingAvg);
                            int emptyStars = 5 - fullStars;
                            if (fullStars == 0)
                            {
                                <i class="bi bi-star"></i>
                                <i class="bi bi-star"></i>
                                <i class="bi bi-star"></i>
                                <i class="bi bi-star"></i>
                                <i class="bi bi-star"></i>
                            }
                            else
                            {
                                for (int i = 0; i < fullStars; i++)
                                {
                                    <i class="bi bi-star-fill"></i>
                                }
                                for (int j = 0; j < emptyStars; j++)
                                {
                                    <i class="bi bi-star"></i>
                                }
                            }
                        }
                    </span>
                    <!---->
                </p>
            </div>
        </div>
        <br>
    </div>
</div>
<a asp-page="/Index">Back to home page</a>
<script>
    const
    starArea = document.getElementById('stararea'),
    input = document.getElementById('inputRatings'),
    empty = "<i class='bi bi-star'></i> ",
    full = "<i class='bi bi-star-fill' style='color:gold'></i> ";

    var emptyStars = 5 - input.value;
    function showStars() {
        if(input)
        {
            starArea.innerHTML=full.repeat(input.value);
        }
    }
    
</script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}